/*function -mixin*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.21rem;
}
@media screen and (max-width: 599px) {
  h4 {
    font-size: 1.43rem;
  }
}

h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

button {
  background-color: #0065FC;
  border: none;
}

/*component */
.header {
  width: 95%;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .header {
    width: 98vw;
    display: block;
    margin: 0;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}

.h1 {
  display: none;
}

.logo {
  width: 10%;
}
@media screen and (max-width: 599px) {
  .logo {
    width: 25%;
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .logo {
    width: 15%;
    margin-top: 0.5rem;
  }
}
.logo__img {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .navbar {
    margin-bottom: 1rem;
  }
}
.navbar__list {
  display: inline-flex;
  margin-top: 1rem;
}
@media screen and (max-width: 599px) {
  .navbar__list {
    text-align: center;
    padding: 0;
    margin-top: 0.5rem;
    justify-content: space-around;
    width: 100%;
  }
}
.navbar__link {
  border-top: 1px solid transparent;
  padding-top: 20px;
}
@media screen and (max-width: 599px) {
  .navbar__link {
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 20px;
    padding-top: 0;
    width: 100%;
    display: inline-block;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .navbar__link {
    border-top: none;
    padding-top: 0;
  }
}
.navbar__link--signin {
  color: #0065FC;
  font-weight: 600;
}
@media screen and (max-width: 599px) {
  .navbar__link--signin {
    border: none;
    padding: 0;
  }
}
@media screen and (max-width: 599px) {
  .navbar__link--hbg {
    color: #0065FC;
    border-color: #0065FC;
  }
}
.navbar__link:hover {
  color: #0065FC;
  cursor: pointer;
  border-top: 1px solid #0065FC;
  padding-top: 20px;
}
@media screen and (max-width: 599px) {
  .navbar__link:hover {
    color: #000000;
    border-top: none;
    padding-top: 0;
  }
}
.navbar__elt {
  padding: 0.5rem;
}
@media screen and (max-width: 599px) {
  .navbar__elt {
    padding: 0;
  }
}
@media screen and (max-width: 599px) {
  .navbar__elt--hbg {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .navbar__elt--act {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .navbar__elt--signin {
    position: absolute;
    top: 25px;
    right: 20px;
  }
}

.main {
  width: 95%;
  margin-right: 2rem;
  margin-left: 2rem;
}
@media screen and (max-width: 599px) {
  .main {
    width: 100%;
    margin-left: 0;
    margin-right: 1rem;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .main {
    width: 90%;
  }
}

.title {
  margin-bottom: 0.2rem;
}
@media screen and (max-width: 599px) {
  .title {
    width: 90%;
    margin-left: 1rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 599px) {
  .subtitle {
    width: 90%;
    margin-left: 1rem;
    line-height: 2;
  }
}

/*

  ******** **  **   **                 
 /**/
/**       ** /** ******  *****  ******
/******* /** /**/
/**/
/**      /** /**  /**  /**/
/**      /** ***  //** //******/
.filter {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
}
@media screen and (max-width: 599px) {
  .filter {
    flex-wrap: wrap;
    padding: 0;
    margin-left: 1rem;
    width: 90%;
    font-weight: 700;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .filter {
    flex-wrap: wrap;
  }
}
.filter__title {
  padding: 0.4rem;
  margin-right: 2rem;
}
@media screen and (max-width: 599px) {
  .filter__title {
    margin-right: 1rem;
    width: 90%;
  }
}
.filter__elt {
  display: flex;
  border: 1px solid #F2F2F2;
  border-radius: 50vw;
  margin-right: 20px;
}
.filter__elt:hover {
  color: #0065FC;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .filter__elt {
    margin-bottom: 0.5rem;
    margin-right: 10px;
    border: 2px solid #F2F2F2;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .filter__elt {
    margin-bottom: 0.5rem;
  }
}
.filter__icon {
  background-color: #DEEBFF;
  border-radius: 100%;
  color: #0065FC;
  text-align: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  padding-top: 12px;
}
.filter__name {
  margin-right: 20px;
  margin-top: 9px;
}

/*

  **            ****         
 //            /**/
/**/
/**/
/** /**  /**  /**  /**   /**
 /** /**  /**  /**  /**   /**
 /** ***  /**  /**  //****** 
 // ///   //   //    //////  

*/
.info {
  width: auto;
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 599px) {
  .info {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
.info__icon {
  margin-right: 5px;
  margin-top: -0.2rem;
  color: #0065FC;
  border: 2px #F2F2F2 solid;
  border-radius: 100vw;
  width: 25px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  font-size: 0.7rem;
}

.research {
  display: flex;
  width: 27%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 599px) {
  .research {
    width: 90%;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .research {
    width: 40%;
  }
}
.research__icon {
  padding: 0.7rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #F2F2F2;
  text-align: center;
  width: 40px;
}
@media screen and (max-width: 599px) {
  .research__icon {
    padding: 1rem;
    width: 50px;
    font-size: 1.1rem;
  }
}
.research__input {
  padding-left: 0.5rem;
  border: 0.5px solid #F2F2F2;
  width: 75%;
}
.research__btn {
  background-color: #0065FC;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.7rem;
  color: #FFFFFF;
  font-weight: 600;
}
.research__btn--desktop {
  display: inline-block;
}
@media screen and (max-width: 599px) {
  .research__btn--desktop {
    display: none;
  }
}
.research__btn--mobile {
  display: none;
}
@media screen and (max-width: 599px) {
  .research__btn--mobile {
    display: inline-block;
    border-radius: 10px;
    padding: 0.9rem;
    font-size: 1.1rem;
    margin-left: -5px;
    width: 50px;
  }
}

::placeholder {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
}

.result {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  /*

                              **   **                  
                             /**  //                   
     ******  *****   *****  ****** **  ******  ******* 
    **/
  /****** //******/
  /*****   //** /**/
  /******  ***  /**
  //////   //////  /////     //  //  //////  ///   // 
  */
  /*

    ********  **                                        **  
   /**/
  /**       /**  *****  **********   *****  *******  ******
  /*******  /** **/
  /**/
  /**       /**/
  /******** ***/
  /****** *** /** /**/
  /****** ***  /**  //** 
   //////// ///  ////// ///  //  //  ////// ///   //    //  

  */
  /*

   **** **                               
  /**/
  /**  /**/
  /******/
  /**  /** /** / /*******
  /**  /** /////**/
  /**  /** /**   /**/
  /**  /**  ***** //******/
  /***   //******
     //   //  /////   ////// ///     ////// 

  */
}
@media screen and (max-width: 599px) {
  .result {
    flex-direction: column-reverse;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result {
    flex-direction: column-reverse;
  }
}
.result__title {
  margin-bottom: 2rem;
}
@media screen and (max-width: 599px) {
  .result__title {
    margin-bottom: 1rem;
  }
}
.result__title--ppr {
  display: flex;
  justify-content: space-between;
  font-size: 1.43rem;
}
.result__section {
  background-color: #F2F2F2;
  padding: 2.5em;
  border-radius: 20px;
}
@media screen and (max-width: 599px) {
  .result__section {
    padding: 2.5rem 1rem 0 1rem;
    border-radius: 0;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__section {
    padding: 1.5rem 1rem 0 1rem;
  }
}
.result__section--hbg {
  width: 66%;
  height: auto;
}
@media screen and (max-width: 599px) {
  .result__section--hbg {
    width: 100%;
    background-color: #FFFFFF;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__section--hbg {
    width: 100%;
  }
}
.result__section--ppr {
  width: 31%;
}
@media screen and (max-width: 599px) {
  .result__section--ppr {
    width: 100%;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__section--ppr {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .result__wrapper {
    padding: 0.5rem;
  }
}
.result__wrapper--hbg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__wrapper--ppr {
    display: flex;
    justify-content: space-between;
  }
}
.result__elt {
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
  box-shadow: -1px 1px 15px 0.5px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 599px) {
  .result__elt {
    margin-bottom: 1rem;
    border-radius: 20px;
  }
}
.result__elt--hbg {
  width: 30.5%;
  overflow: hidden;
  height: auto;
}
@media screen and (max-width: 599px) {
  .result__elt--hbg {
    width: 100%;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__elt--hbg {
    width: 32%;
  }
}
.result__elt--ppr {
  overflow: hidden;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__elt--ppr {
    width: 32%;
    overflow: hidden;
    height: auto;
  }
}
.result__elt--last {
  margin-bottom: 0;
}
@media screen and (max-width: 599px) {
  .result__elt--last {
    margin-bottom: 2rem;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__elt--last {
    margin-bottom: 2rem;
  }
}
.result__link--ppr {
  display: flex;
  overflow: hidden;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__link--ppr {
    display: block;
  }
}
.result__figure {
  overflow: hidden;
}
.result__figure--hbg {
  height: 110px;
}
@media screen and (max-width: 599px) {
  .result__figure--hbg {
    height: 115px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__figure--hbg {
    width: auto;
    height: 100px;
  }
}
.result__figure--ppr {
  width: 40%;
  height: 122px;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__figure--ppr {
    width: auto;
    height: 130px;
  }
}
.result__img {
  object-fit: cover;
  width: 100%;
}
.result__img--hbg {
  min-height: 119px;
  max-height: 120px;
}
.result__img--ppr {
  min-height: 129px;
  max-height: 130px;
}
.result__text {
  padding-top: 0.5rem;
  margin-left: 0.3rem;
}
.result__text--ppr {
  width: 55%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__text--ppr {
    width: auto;
    height: 95px;
  }
}
.result__more {
  width: auto;
  font-weight: 600;
}
@media screen and (max-width: 599px) {
  .result__more {
    margin-top: 1rem;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .result__more {
    margin-bottom: 1rem;
  }
}

/*

  **                                             **
 /**                *****                       /**
 /**        *****  **/
/**       **/
/**      /*******/
/******/
/**  /** **/
/**      /**/
/********/
/******  ***** //****** ***  /**/
/******
 ////////  //////  /////   ////// ///   //  ////// 

*/
.legend__title {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
@media screen and (max-width: 599px) {
  .legend__title {
    font-size: 1rem;
  }
}
.legend__subtitle {
  flex-grow: 1;
  font-size: 0.9rem;
}
.legend__rate {
  display: inline-flex;
  color: #0065FC;
  width: 45%;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .legend__rate {
    width: 33%;
  }
}
.legend__rate--ppr {
  width: 60%;
}
@media screen and (max-width: 599px) {
  .legend__rate--ppr {
    width: 40%;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .legend__rate--ppr {
    width: 45%;
  }
}
.legend__empty {
  color: #F2F2F2;
}

@media screen and (max-width: 599px) {
  .activity {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.activity__title {
  width: 100%;
}
.activity__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (max-width: 599px) {
  .activity__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .activity__wrapper {
    flex-wrap: wrap;
  }
}
.activity__elt {
  width: 23%;
  overflow: hidden;
  padding: 0.5rem;
}
@media screen and (max-width: 599px) {
  .activity__elt {
    width: 100%;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .activity__elt {
    width: 48%;
  }
}
.activity__figure {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 1.5px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
@media screen and (max-width: 599px) {
  .activity__figure {
    margin-bottom: 1rem;
  }
}
.activity__img {
  width: 100%;
  object-fit: cover;
}
.activity__img--1 {
  min-height: 400px;
}
@media screen and (max-width: 599px) {
  .activity__img--1 {
    min-height: 200px;
    max-height: 201px;
  }
}
.activity__img--2 {
  max-height: 220px;
}
@media screen and (max-width: 599px) {
  .activity__img--2 {
    min-height: 200px;
    max-height: 201px;
  }
}
.activity__img--3 {
  max-height: 150px;
}
@media screen and (max-width: 599px) {
  .activity__img--3 {
    min-height: 200px;
    max-height: 201px;
  }
}
.activity__img--4 {
  min-height: 400px;
}
@media screen and (max-width: 599px) {
  .activity__img--4 {
    min-height: 200px;
    max-height: 201px;
  }
}
.activity__img--5 {
  min-height: 180px;
}
@media screen and (max-width: 599px) {
  .activity__img--5 {
    min-height: 200px;
    max-height: 201px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .activity__img--5 {
    max-height: 170px;
  }
}
.activity__img--6 {
  max-height: 188px;
}
@media screen and (max-width: 599px) {
  .activity__img--6 {
    min-height: 200px;
    max-height: 201px;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .activity__img--6 {
    max-height: 190px;
  }
}
.activity__text {
  font-weight: 600;
  padding: 0.8rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FFFFFF;
  margin-top: -50px;
}

.footer {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  background-color: #F2F2F2;
  line-height: 1.7;
}
@media screen and (max-width: 599px) {
  .footer {
    flex-direction: column;
    padding: 1rem;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .footer {
    text-align: center;
  }
}
.footer__title {
  margin-bottom: 0.5rem;
}
.footer__elt {
  margin-right: 15rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 599px) {
  .footer__elt {
    margin-right: 0;
  }
}
@media (min-width: 599px) and (max-width: 1024px) {
  .footer__elt {
    margin-right: 1rem;
    flex: 1 0 0;
  }
}

/*form*/
/*@import "./Pages/contact";*/

/*# sourceMappingURL=main.css.map */
