$color-text: #000000;
$color-chart: #0065FC;
$color-chartlight: #DEEBFF;
$color-bg: #F2F2F2;
$color-white: #FFFFFF;

$size-text: 1rem;
$size-h1: $size-text*1.5;
$size-h2: $size-text*1.1;

$size-img: 110px;
$size-cover: 400px;

$margin-mobile: 1rem;

$breakpoints: (
    mobile: 599px,
    middle-device: 799px,
)