.activity {
    &__title {
            width: 100%;
        }
    &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b c d" "a e c f";
    gap: 2rem;
    }
    &__elt {
        border: 3px solid $color-white;
        border-radius: 5%;
        overflow: hidden;
        &--one{
            grid-area: a;
        }
        &--two{
            grid-area: b;
        }
        &--three{
            grid-area: c;
        }
        &--four{
            grid-area: d;
        }
        &--five{
            grid-area: e;
        }
        &--six{
            grid-area: f;
        }
    }
    &__img {
        width: 100%;
    }
}


