.activity {
    @include mobile-only {
        margin-left: $margin-mobile;
        margin-right: $margin-mobile;
    }
    &__title {
        width: 100%;
        }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        @include mobile-only {
            display: flex;
            flex-direction: column;
        }
        @include tablet-only {
            flex-wrap: wrap;
        }
    }
    &__elt {
        width: 23%;
        overflow: hidden;  
        padding: 0.5rem;  
        @include mobile-only {
            width: 100%;
        }  
        @include tablet-only {
            width: 48%;
        } 
    }
    &__figure {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 1.5px 2px 10px 0.1px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
        }
    &__cover {
        width: 100%;
        height: $size-cover;
        background-position: center;
        background-size: cover;
        &--1 {
            background-image: url(../Images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
            @include mobile-only {
                height: $size-cover*0.5;
            }
        }
        &--2 {
            background-image: url(../Images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
            height: $size-cover*0.55;
            @include mobile-only{
                height: $size-cover*0.5;
            }
        }
        &--3 {
            background-image: url(../Images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
            height: $size-cover*0.38;
            @include mobile-only {
                height: $size-cover*0.5;
            }
        }
        &--4 {
            background-image: url(../Images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
            @include mobile-only{
                height: $size-cover*0.5;
            }
        }
        &--5 {
            background-image: url(../Images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
            height: $size-cover*0.45;
            @include mobile-only{
                height: $size-cover*0.5;
            }
        }
        &--6 {
            background-image: url(../Images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
            height: $size-cover*0.47;
            @include mobile-only{
                height: $size-cover*0.5;
            }
        }
    }
    &__text {
        font-weight: 600;
        padding: 0.8rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: $color-white;
        margin-top: -50px;
    }
}




