.main{
    width: 95%;
    margin-right: 2rem;
    margin-left: 2rem;
    @include mobile-only{
        width: 100%;
        margin-left: 0;
        margin-right: $margin-mobile;
    }
}

.title{
    margin-bottom: 0.2rem;
    @include mobile-only {
        width: 90%;
        margin-left: $margin-mobile;
    }
}

.subtitle {
    @include mobile-only {
        width: 90%;
        margin-left: $margin-mobile;
    }
}

.filter{
    display: flex;
    width: 100%;
    padding: 0.5rem;
    font-weight: 600; 
    @include mobile-only{
        flex-wrap: wrap;
        padding: 0;
        margin-left: $margin-mobile;
        width: 90%;
    }
    &__title{
      padding: 0.4rem; 
      margin-right: 2rem;
      @include mobile-only{
          margin-right: $margin-mobile;
          width: 90%;
        }
    }
    &__elt{
        display: flex;
        border: 1.5px solid $color-bg;
        border-radius: 50vw;
        margin-right: 20px;
    
        &:hover{
            color: $color-chart;
            cursor: pointer;
        }

        @include mobile-only{
            margin-bottom: 0.5rem;
            margin-right: 10px;
        }
    }
  
    &__icon{
        background-color: $color-chartlight;
        border-radius: 100%;
        color: $color-chart;
        text-align: center;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        padding-top: 12px;
    }
    &__name{
        margin-right: 20px;
        margin-top: 9px;
    }

    
}

.info{
    display: flex;
    width: auto;
    color: rgba(0,0,0, 0.9);
    font-size: $size-text*0.9;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include mobile-only {
        margin-left: $margin-mobile;
    }
    &__icon {
        margin-right: 5px;
        color: $color-chart;
        border: 2px $color-bg solid;
        border-radius: 100vw;
        width: 30px;
        height: 30px;
        padding-top: 5px;
        text-align: center;
        flex-shrink:0
    }
}




