.main {
    width: 94vw;
    margin-right: 2rem;
    margin-left: 2rem;
}

.filter {
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
    &__elt {
        display: inline-flex;
        &:hover {
            color: $color-chart;
            font-size: $size-text*1.2;
            cursor: pointer;
        }
    }
    &__icon {
        width: 3vw;
    }
    
}

.info {
    display: inline-flex;
    width: 40%;
}

.result {
    
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    flex: 49% 0 0;
    margin-bottom: 2rem;
    overflow: hidden;
    height: auto;

    &__title {
        width: 80%;
        display: inline-flex;
        justify-content: space-between;
        height: 5%;
        margin-bottom: 0; 
    }
    &__more {
        width: auto;
        height: 5px;
    }
}

.legend {
    &__note {
        display: inline-flex;
    }
}


