.footer {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;    
    background-color: $color-bg;
    &__title {
        margin-bottom: 0.5rem;
    }
    &__elt {
        margin-right: 15rem;
        margin-bottom: 0.5rem;
    }
}