.footer {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;    
    background-color: $color-bg;
    line-height: 1.7;
    @include mobile-only {
        flex-direction: column;
    }
    @include tablet-only {
        text-align: center;
    }
    &__title {
        margin-bottom: 0.5rem;
    }
    &__elt {
        margin-right: 15rem;
        margin-bottom: 0.5rem;
        @include mobile-only {
            margin-right: 0;
        }
        @include tablet-only {
            margin-right: 1rem;
            flex: 1 0 0;
        }
    }
}