.footer {
    width: 94vw;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;    
    background-color: $color-bg;
    &__title {
        margin-bottom: 0.5rem;
    }
    &__elt {
        margin-right: 10rem;
        margin-bottom: 0.5rem;
    }
}