.footer {
    width: 94vw;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: space-between;
    background-color: $color-bg;
}