.research {
    display: flex;
    width: 27%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include mobile-only{
        width: 90%;
        margin-left: $margin-mobile;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    @include tablet-only {
        width: 40%;
    }

    &__icon{
        padding: 0.7rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: $color-bg;
        text-align: center;
        width: 40px;
        @include mobile_only {
            padding: 1rem;
            width: 50px;
            font-size: 1.1rem;
        }

    }
    &__input{
        padding-left: 0.5rem;
        border: 0.5px solid $color-bg;
        width: 75%;
    }
    
    &__btn{
        background-color: $color-chart;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0.7rem;
        color: $color-white;
        font-weight: 600;
        &--desktop{
            display: inline-block;
            @include mobile-only{
                display: none;
            }
        }
        &--mobile{
            display: none;
            @include mobile-only{
                display: inline-block;
                border-radius: 10px;
                padding: 0.9rem;
                font-size: 1.1rem;
                margin-left: -5px;
                width: 50px;
            }
        }
    
    }
  
}


::placeholder {
    color: $color-text;
    font-size: $size-text;
    font-weight: 500;
    opacity: 1;
}