.header {
    width: 95%;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    @include mobile-only{
        width: 98vw;
        display: block;
        margin: 0;

    }
    @include tablet-only {
        width: 90%;
    }
}
.h1{
    display: none;
}
.logo {
    width: 10%;
    @include mobile-only {
        width: 25%;
        margin-left: $margin-mobile;
        margin-top: $margin-mobile;
    }
    @include tablet-only {
        width: 15%;
        margin-top: 0.5rem;
    }
    &__img{
        width: 100%;
    }
}