.header {
    width: 94vw;
    margin: 2rem;
    display: inline-flex;
    justify-content: space-between;
    flex: 20% 0 0;

}

.logo {
    padding-top: 20px;
    &__img{
        width: 100%;
    }
}