.navbar {
    display: flex;
    &__link {
        &--signin {
            color: $color-chart;
            font-weight: 600;
        }
        &:hover {
            color: $color-chart;
            cursor: pointer;
            border-top: 1px solid $color-chart;
            padding-top: 20px;
        }
    }
    &__elt {
        padding: 0.5rem;
        display: inline-flex;
        
    }
        
}