.navbar {
    @include mobile-only{
        margin-bottom: $margin-mobile;
        
    }
    &__list{
        display: inline-flex;
        margin-top: 1rem; 
         @include mobile-only{
            text-align: center;
            padding: 0;
            margin-top: 0.5rem;
            justify-content: space-around;
            width: 100%
        }
    }
    &__link {
        border-top: 1px solid transparent;
        padding-top: 20px;
        @include mobile-only{
            border-top: none;
            border-bottom: 2px solid $color-bg;
            padding-bottom: 20px;
            padding-top:0;
            width: 100%;
            display: inline-block;
            
        }
        @include tablet-only{
            border-top: none;
            padding-top:0;
        }
        &--signin {
            color: $color-chart;
            font-weight: 600;
            @include mobile-only{
                border: none;
                padding:0;
            }
        }
        &--hbg {
            @include mobile-only {
                color: $color-chart;
                border-color: $color-chart;
            }
        }
        &:hover {
            color: $color-chart;
            cursor: pointer;
            border-top: 1px solid $color-chart;
            padding-top: 20px;
            @include mobile-only{
                color: $color-text;
                border-top: none;
                padding-top: 0;
            
            }
        }
        // &:focus{
        //     @include mobile-only{
        //     color: $color-chart;
        //     border-bottom: 2px solid $color-chart;
        //     padding-bottom: 20px;
            
        //     }
        // }
    }
    &__elt {
        padding: 0.5rem;  
        @include mobile-only{
            padding: 0;
        }  
        &--hbg{
            @include mobile-only{
                width: 50%;
                
            }
        }

        &--act{
            @include mobile-only{
                width: 50%;
            }
        }
        
        &--signin {
            @include mobile-only{
                position: absolute;
                top: 25px;
                right: 20px;
            }
            
        }
        
    }
        
}