.popular {
    width: 29%;
    background-color: $color-bg;
    padding: 1rem;   
  
    &__elt {
        border: 3px solid $color-elt;
        border-radius: 5%;
        margin: 0.5rem;
        width: 95%;
        background-color: $color-elt;
        overflow: hidden;  
        height: auto; 
        max-height: 30%; 
        display: inline-flex;
        align-items: center;
    }
    &__img {
        width: 70%;
    
    }
    &__text {
        padding: 0.5rem;

    }
}