* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;   
}

body {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-text;
}