body {
    font-family: 'Raleway', sans-serif;
    
    color: $color-text;
    font-size: $size-text;
    font-weight: 300;
    line-height: 1.4;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: $size-h1;
    
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: $size-h2;
    
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: $size-h2*1.1;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: $size-text;
}
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

